.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#bar{
  background-color: green;
}

#garden{

}

body {
  font: normal 2em/1.5em "Helvetica Neue", Arial, sans-serif;
  color: white;
}

button.btn {
  margin-top: 40px;
  border-radius: 4px;
}

.card{
  margin: 10px;
}



button{
  font-size: 16px;	
}

p{
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  margin-top: 10px;
  color: black;
}

li{
  font-size: 16px;
  line-height: 2px;
  text-align: left;
  color: green;
  padding-left: 85px;
  padding-top: 50px;
}

h4{
  margin-top: 40px;
}

#flowerbox{
  background-color: #ffbdbd;
}

#mainpage{
  background-color: #a8e6cf;
}

#final, #garden{
  background: url("http://images.all-free-download.com/images/graphicthumb/green_grass_02_hd_picture_166104.jpg");
}


#maintitle {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 2s;
}

#lineone {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 5s;
}



#destroy{
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 100px;
  font-weight: bold;
  
}

.btn{
  padding-left: 10px;	
  padding-right: 10px;
  margin-left: 75px;
  background-color:
}

#box{
  margin-left: 400px;
  margin-top: 20px;  
}

.text-center{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#choose{
  margin: 0px;	
  text-align: center;
  font-weight: bold;
}
































